<%
  settings = CommitLinksSetting.settings_for_project(@project)
%>

<%=
  form_for @project,
           :url => {:action => 'commit_links_settings', :id => @project},
           :html => {:id => 'commit-links-settings-form', :method => :post} do |f|
%>

  <fieldset class="box">
    <legend>
      <b>
        <%= l('redmine_commit_links.settings.header') %>
      </b>
    </legend>

    <p>
      <%= h l('redmine_commit_links.settings.info') %>
    </p>

    <div class="box tabular settings">
      <p>
        <%= content_tag :label, l('redmine_commit_links.settings.repo_base_url') %>
        <%= text_field_tag 'settings[commit_links][repo_base_url]', 1, settings[:repo_base_url] %>
      </p>
    </div>

    <p>
      <%= submit_tag l(:button_save) %>
    </p>

  </fieldset>
<% end %>